accelerate==0.20.3
annotated-types==0.7.0
anyio==4.12.1
beautifulsoup4==4.14.3
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.1.8
clip @ git+https://github.com/openai/CLIP.git@d05afc436d78f1c48dc0dbf8e5980a9d471f35f6
cmake==4.3.0
coloredlogs==15.0.1
contourpy==1.3.0
cycler==0.12.1
diffusers==0.21.0
eval_type_backport==0.3.1
exceptiongroup==1.3.1
filelock==3.19.1
fire==0.7.1
flatbuffers==25.12.19
fonttools==4.60.2
fsspec==2025.10.0
ftfy==6.3.1
gdown==5.2.1
gitdb==4.0.12
GitPython==3.1.46
h11==0.16.0
hf-xet==1.4.2
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.16.4
humanfriendly==10.0
idna==3.11
importlib_metadata==8.7.1
importlib_resources==6.5.2
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.4.7
lit==18.1.8
MarkupSafe==3.0.3
matplotlib==3.9.4
mpmath==1.3.0
networkx==3.2.1
nudenet==3.0.8
numpy==1.26.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
onnxruntime==1.19.2
opencv-python==4.9.0.80
opencv-python-headless==4.13.0.92
packaging==26.0
pandas==2.3.3
pillow==11.3.0
platformdirs==4.4.0
protobuf==6.33.6
psutil==7.2.2
pyarrow==21.0.0
pydantic==2.12.5
pydantic_core==2.41.5
pyparsing==3.3.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2026.1.post1
PyYAML==6.0.3
regex==2026.1.15
requests==2.32.5
ruamel.yaml==0.19.1
safetensors==0.7.0
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
sentry-sdk==2.56.0
six==1.17.0
smmap==5.0.3
soupsieve==2.8.3
sympy==1.14.0
termcolor==3.1.0
threadpoolctl==3.6.0
tokenizers==0.13.3
torch==2.0.1
torch_fidelity==0.4.0
torchvision==0.15.2
tqdm==4.67.3
transformers==4.25.0
triton==2.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
wandb==0.25.1
wcwidth==0.6.0
zipp==3.23.0
